Source: com.github.gijsgoudzwaard.image-optimizer
Section: x11
Priority: extra
Maintainer: Gijs Goudzwaard <gijs.goudzwaard@gmail.com>
Build-Depends: libgtk-3-dev,
               libgranite-dev,
               debhelper (>= 9),
               valac,
               meson
Standards-Version: 3.9.6

Package: com.github.gijsgoudzwaard.image-optimizer
Architecture: any
Depends: jpegoptim, optipng, ${misc:Depends}, ${shlibs:Depends}
Description: Image Optimizer
 A simple image optimizer.
