[Desktop Entry]
Name=Image Optimizer
GenericName=Image Optimizer
Comment=Simple image optimzer
Categories=Utility;Accessories;Graphics;
Exec=com.github.gijsgoudzwaard.image-optimizer
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=text
Keywords=Text;Editor;Notes
